body{
    background: linear-gradient(rgba(0, 0, 50 0.5),rgba(0, 0 , 50 , 0.5));
    background-image:url(image.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 800px;
    float: none;
    margin: 150px auto;
}

.login{
    background: rgba(211, 211, 211 ,0.5);
    padding:  30px;
}

.register{
    background: rgba(211, 211, 211 ,0.5);
    padding:  30px;
}

.form-control{
    background-color:transparent;
}
a{
    color:#fff;
}
h1{
    color:#fff;
    margin-top:200px;
    text-align: center;
    text-transform: uppercase;
}